
<div id="card-list-section">
  <h2 id="card-set-name">
    {{#unless cardSet.isEmpty}}
      {{md-btn buttonType='floating' class='btn-small red' action='study' actionArg=cardSet icon='mdi-av-play-arrow' }}
    {{/unless}}
    {{#if cardSet.belongsToCurrentUser}}
      {{autosave-input
        id='card-set-name-input'
        value=cardSet.name
        label="Name"
        save='saveNewLabel'
      }}
    {{else}}
      {{cardSet.name}}
    {{/if}}
  </h2>
  <div id="card-labels">
    <span id="label-list">
      Labels
      {{md-btn id="show-new-label-modal" buttonType='floating' class='btn-tiny' action="showNewLabelModal" icon='mdi-content-add'}}
    </span>
    <ul>
      {{#each cardSet.labels as |label| }}
        {{label-field
            label=label
            save='saveLabel'
            delete='deleteLabel'
        }}
      {{/each}}
    </ul>
  </div>
  <span class="sub-header">
    Cards ({{cardSet.cardCount}})
    {{md-btn id="new-card-button" buttonType='floating' class='btn-tiny' action="addCard" icon='mdi-content-add'}}
  </span>

  <ul id="card-list">
    {{#each cardSet.cards as |card| }}
      {{card-item
        card=card
        addCard='addCard'
        saveCard='saveCard'
      }}
    {{/each}}
  </ul>
</div>

{{#if shouldShowNewLabelModal}}
  {{#modal-dialog
    alignmentTarget='#show-new-label-modal'
    alignment='right'
    focusSelector='.label-name'
    close='closeModal'
  }}
    <label>Name</label>
    {{input class='label-name' value=newLabelName placeholder='name'}}
    {{md-btn text='New Label' action='saveNewLabel'}}
  {{/modal-dialog}}
{{/if}}
