
<div id="card-list-section">
  <h2 id="card-set-name">
    {{#if cardSet.belongsToCurrentUser}}
      {{autosave-input
      controlId="cardset-name-input"
      value=cardSet.name
      label="Name"
      }}
    {{else}}
      {{cardSet.name}}
    {{/if}}
  </h2>
  <span class="sub-header">
    {{cardSet.cardCount}} cards
    {{md-btn id="new-card-button" buttonType='floating' class='btn-tiny' action="addCard" icon='mdi-content-add'}}
  </span>
  {{#unless cardSet.isEmpty}}
    {{link-to "Study" 'study' cardSet class='btn action-button' }}
  {{/unless}}

  <ul id="card-list">
    {{#each cardSet.cards as |card| }}
      {{card-item
        card=card
        addCard='addCard'
        saveCard='saveCard'
      }}
    {{/each}}
  </ul>
</div>
