
<div id="card-list-section">
  <h2 id="card-set-name">
    <img id='set-bear' src="assets/images/bear.png" />
    {{#if cardset.belongsToCurrentUser}}
      {{autosave-input
        id='card-set-name-input'
        value=cardset.name
        label="Name"
        save='saveNewTag'
      }}
    {{else}}
      {{cardset.name}}
    {{/if}}
    {{#unless cardset.isEmpty}}
      {{md-btn buttonType='floating' class='study-btn btn-small' action='study' actionArg=cardset icon='mdi-av-play-arrow' }}
    {{/unless}}
  </h2>
  <div id="card-tags">
    <span id="tags-label">
      {{#if cardset.belongsToCurrentUser}}
        {{md-btn id="show-new-tag-modal" buttonType='floating' class='btn-tiny' action="showNewTagModal" icon='mdi-content-add'}}
      {{/if}}
      <label>Tags&nbsp;&nbsp;</label>
    </span>
    <ul id="set-tags">
      {{#each cardset.tags as |tag| }}
        {{#if cardset.belongsToCurrentUser}}
          {{tag-field
            tag=tag
            save='saveTag'
            delete='deleteTag'
          }}
        {{else}}
          <span class="static-tag-name" >{{tag.name}}</span>

        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div id="cards-label">
    {{#if cardset.belongsToCurrentUser}}
      {{md-btn id="new-card-button" buttonType='floating' class='btn-tiny' action="gotoNewCard" icon='mdi-content-add'}}
    {{/if}}
    <label class="card-set-lbl">Cards ({{cardset.cardCount}})</label>
  </div>

  <ul id="card-list">
    {{#each cardset.cards as |card| }}
      {{card-item
        card=card
        notOwned=notOwned
        selectedTag=selectedTag
        saveCard='saveCard'
      }}
    {{/each}}
  </ul>
</div>

{{#if shouldShowNewTagModal}}
  {{#modal-dialog
    alignmentTarget='#show-new-tag-modal'
    alignment='right'
    focusSelector='.tag-name'
    close='closeModal'
  }}
    <label>Name</label>
    {{input class='tag-name' value=newTagName placeholder='name'}}
    {{md-btn text='New Tag' action='saveNewTag'}}
  {{/modal-dialog}}
{{/if}}
