<div class="card-tags">
  {{#md-btn-dropdown text='Tags' belowOrigin="true" }}
    {{#each card.cardSet.tags as |tag| }}
      {{card-tag card=card tag=tag}}
    {{/each}}
  {{/md-btn-dropdown}}
</div>

<div class="card-panel">
  {{#if card.belongsToCurrentUser}}
    {{card-editor saveCard='saveCard' card=card}}
    {{md-btn buttonType='floating' isDisabled=disableDelete class='delete-card-button btn-small' action="deleteCard" actionArg=card icon='mdi-action-delete'}}
  {{else}}
    <div class="card-front">
      {{card.front}}
    </div>
    <div class="card-back">
      {{card.back}}
    </div>
  {{/if}}
</div>

