<div class="card-header">
  {{card-tags tags=cardSet.tags card=card deleteCard='deleteCard' selectedTag=selectedTag}}
  {{#if showDeleteButton}}
    {{md-btn buttonType='floating' isDisabled=disableDelete class='delete-card-button btn-tiny' action="deleteCard" actionArg=card icon='mdi-action-delete'}}
  {{/if}}
</div>

<div class="card-pane">
  {{#if card.belongsToCurrentUser}}
    {{card-editor saveCard='saveCard' card=card}}
  {{else}}
    <div class="card-front">
      {{card.front}}
    </div>
    <div class="card-back">
      {{card.back}}
    </div>
  {{/if}}
</div>

