
<div id="card-list-section">
  <h2 id="card-set-name">
    {{#unless cardSet.isEmpty}}
      {{md-btn buttonType='floating' class='btn-small red' action='study' actionArg=cardSet icon='mdi-av-play-arrow' }}
    {{/unless}}
    {{#if cardSet.belongsToCurrentUser}}
      {{autosave-input
        id='card-set-name-input'
        value=cardSet.name
        label="Name"
        save='saveNewTag'
      }}
    {{else}}
      {{cardSet.name}}
    {{/if}}
  </h2>
  <div id="card-tags">
    <span id="tag-list">
      Tags
      {{md-btn id="show-new-tag-modal" buttonType='floating' class='btn-tiny' action="showNewTagModal" icon='mdi-content-add'}}
    </span>
    <ul>
      {{#each cardSet.tags as |tag| }}
        {{tag-field
            tag=tag
            save='saveTag'
            delete='deleteTag'
        }}
      {{/each}}
    </ul>
  </div>
  <span class="sub-header">
    Cards ({{cardSet.cardCount}})
    {{md-btn id="new-card-button" buttonType='floating' class='btn-tiny' action="gotoNewCard" icon='mdi-content-add'}}
  </span>

  <ul id="card-list">
    {{#each cardSet.cards as |card| }}
      {{card-item
        card=card
        saveCard='saveCard'
      }}
    {{/each}}
  </ul>
</div>

{{#if shouldShowNewTagModal}}
  {{#modal-dialog
    alignmentTarget='#show-new-tag-modal'
    alignment='right'
    focusSelector='.tag-name'
    close='closeModal'
  }}
    <label>Name</label>
    {{input class='tag-name' value=newTagName placeholder='name'}}
    {{md-btn text='New Tag' action='saveNewTag'}}
  {{/modal-dialog}}
{{/if}}
