
<div class="card-pane">
  {{#if card.belongsToCurrentUser}}
    {{card-editor saveCard='saveCard' card=card isEditingBack=isEditingBack}}
    {{#if showDeleteButton}}
      {{md-btn buttonType='floating' isDisabled=disableDelete class='red delete-card-button btn-tiny' action="deleteCard" actionArg=card icon='mdi-action-delete'}}
    {{/if}}
  {{else}}
    <div class="card-front">
      {{card.front}}
    </div>
    <div class="card-back">
      {{card.back}}
    </div>
  {{/if}}
</div>

<div class="card-labels">
  {{card-tags tags=cardSet.tags card=card deleteCard='deleteCard' selectedTag=selectedTag}}
</div>
