<div id="top-nav">
  <div class="nav-section">
    <div id="title">
       {{link-to "Crambear" "application"}}
    </div>
  </div>
  {{#if isLoggedIn}}
    <div class="nav-section">
      <div class="nav-item">
        {{link-to "Dashboard" "dashboard"}}
      </div>
    </div>
  {{/if}}
  <div class="nav-section">
  {{#if isLoggedIn}}
    <div class="nav-item">
      {{currentUser.email}}
    </div>
    <div class="nav-item">
      {{md-btn text='Logout' action='logout'}}
    </div>
  {{else}}
    <div class="nav-item">
      <div>
        <label>Login</label>
      </div>
    </div>
    <div class="nav-item">
      {{md-input value=email label="email" }}
    </div>
    <div class="nav-item">
      {{md-input value=password type="password" }}
    </div>
    <div class="nav-item">
      {{md-btn text='Login' action='login'}}
    </div>
  {{/if}}
  </div>
</div>
