<div id="top-nav">
  <div id='top-nav-left' class="nav-section">
    {{#if isLoggedIn}}
      {{link-to "My Sets" "dashboard" class='nav-link'}}
    {{else}}
      <button id="signup-btn" {{action 'showModal' 'showSignupModal'}}>Sign up</button>
    {{/if}}
    {{link-to "Public Sets" "public" class='nav-link'}}
  </div>
  <div class="nav-section">
    <div id="title">
       {{link-to "Crambear" "application"}}
    </div>
  </div>
  <div id="top-nav-right" class="nav-section">
    {{#if isLoggedIn}}
      <button {{action 'logout'}}>Logout</button>
    {{else}}
      <button id="login-btn" {{action 'showModal' 'showLoginModal'}}>Login</button>
    {{/if}}
  </div>
</div>
<div id="flashcards-title">
  Flashcards
</div>
