<div id="top-nav">
  <div class="nav-section">
    <div id="title">
         {{link-to "Crambear" "application"}}
    </div>
  </div>
  <div class="nav-section">
  {{#if isLoggedIn}}
    <div class="nav-item">
      {{currentUser.email}}
    </div>
    <div class="nav-item">
      <button {{action 'logout'}}>Logout</button>
    </div>
  {{else}}
    <div class="nav-item">
      <div>
        <label>Login</label>
      </div>
    </div>
    <div class="nav-item">
      {{input value=email placeholder='email'}}
    </div>
    <div class="nav-item">
      {{input value=password placeholder='password'}}
    </div>
    <div class="nav-item">
      <button {{action 'login'}}>Login</button>
    </div>
  {{/if}}
  </div>
</div>
