{{partial "top_nav"}}

<div id="content">
  {{outlet}}
</div>

{{#if showLoginModal}}
  {{partial 'modals/login' }}
{{/if}}

{{#if showSignupModal}}
  {{partial 'modals/signup' }}
{{/if}}

{{#if showNewCardSetModal}}
  {{partial 'modals/create-card-set' }}
{{/if}}

