{{render 'set-nav'}}

<div id="card-list-section">
  <h3>
    {{model.name}}
    ({{model.cards.length}} cards)
    <br/>
    {{link-to "Study" 'study' model class='btn action-button'}}
    <button {{action 'addCard'}}>Add Card</button>
  </h3>
  {{#if showCardEditor}}
    {{card-editor saveCard='saveNewCard' card=card}}
  {{/if}}

  <ul id="card-list">
    {{#each model.cards as |card| }}
      {{card-item card=card deleteCard='deleteCard'}}
    {{/each}}
  </ul>
</div>
