{{render 'set-nav'}}

<div id="card-list-section">
  <h3>
    {{model.name}}
    ({{model.cards.length}} cards)
    <br/>
    {{link-to "Study" 'study' model class='btn action-button'}}
  </h3>

  <ul id="card-list">
    {{#each model.cards as |card| }}
      <li>
        <div class="card-front">
          {{card.front}}
        </div>
        <div class="card-back">
          {{card.back}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
