<h2>
  My Sets
  {{#unless hasNoSets}}
    {{md-btn id="new-set-button" buttonType='floating' class='btn-small' action="showNewCardSetModal" icon='mdi-content-add'}}
  {{/unless}}
</h2>
{{#if hasNoSets}}
  {{md-btn text='Create your first set'
    id='create-first-set-button'
    action='showNewCardSetModal'
    buttonType='large'
    class='light-blue darken-1'
  }}
{{/if}}
{{#md-table content=model as |set|}}

  {{#md-table-col row=set key='name' header='Name'}}
    {{#link-to "card-set" set}}{{set.name}}{{/link-to}}
  {{/md-table-col}}

  {{#md-table-col row=set key='cardCount' header='# Cards'}}
    {{#link-to "card-set" set}}{{set.cardCount}} {{/link-to}}
  {{/md-table-col}}

  {{#md-table-col row=set key='actions' header=''}}
    {{#if set.belongsToCurrentUser}}
      {{md-btn action='deleteCardSet' buttonType='floating' class='btn-tiny' actionArg=set icon='mdi-action-delete' }}
    {{/if}}
  {{/md-table-col}}

{{/md-table}}

